useDynLib(PCSF)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import(BH)
import(httr)
import(igraph)
importFrom(visNetwork, visIgraph)
importFrom(visNetwork, visIgraphLayout)
importFrom(visNetwork, visGroups)
importFrom(visNetwork, visLegend)
importFrom(visNetwork, visOptions)
importFrom(visNetwork, visNodes)
importFrom(visNetwork, visNetwork)